@model Web.Areas.Attendance.Models.AbsentNoteListViewModel

@{
    ViewData["Title"] = "Omluvenky";
    Layout = "~/Areas/Attendance/Views/Shared/ClassTeacher/_AbsenceLayout.cshtml";
}


<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="p-4 border-bottom bg-light">
                <h5>Omluvenky k potvrzení</h5>
            </div>

            <div class="card-body">
                @if (Model.Notes.Count > 0)
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Datum
                                    </th>
                                    <th>
                                        Žák
                                    </th>
                                    <th>
                                        Omluvenka
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Notes.Count; i++)
                                {
                                    <tr class="accordion-toggle">
                                        <td>
                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Notes[i].Created))
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Notes[i].Student.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Notes[i].Text)
                                        </td>
                                        <td>
                                            <div class="container">
                                                <div class="btn-group blocks" role="button">
                                                    <button type="button" class="btn" data-toggle="collapse" data-target=".@String.Format("a" + @i)">Detail</button>
                                                    <a class="btn btn-success" asp-area="Attendance" asp-controller="ClassTeacher" asp-action="ConfirmAbsentNote" asp-route-noteId="@Model.Notes[i].Id">Potvrdit</a>
                                                    <a class="btn btn-danger" asp-area="Attendance" asp-controller="ClassTeacher" asp-action="DenyAbsentNote" asp-route-noteId="@Model.Notes[i].Id">Zamítnout</a>
                                                </div>
                                            </div>
                                            @*<ul class="">
                                                <li>
                                                    <button type="button" class="btn" data-toggle="collapse" data-target=".@String.Format("a" + @i)">Detail</button>
                                                </li>
                                                <li>
                                                    <a class="btn btn-success" asp-area="Attendance" asp-controller="ClassTeacher" asp-action="ConfirmAbsentNote" asp-route-noteId="@Model.Notes[i].Id">Potvrdit</a>
                                                </li>
                                                <li>
                                                    <a class="btn btn-danger" asp-area="Attendance" asp-controller="ClassTeacher" asp-action="DenyAbsentNote" asp-route-noteId="@Model.Notes[i].Id">Zamítnout</a>
                                                </li>
                                            </ul>*@
                                        </td>
                                    </tr>
                                    <tr class="accordian-body collapse @String.Format("a" + @i)">
                                        <td colspan="4" class="hiddenRow">
                                            <div>
                                                <table class="table table-sm table-borderless">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Datum
                                                            </th>
                                                            <th>
                                                                Hodina
                                                            </th>
                                                            <th>
                                                                Zameškaný předmět
                                                            </th>
                                                            <th>Pozdní přichod</th>
                                                        </tr>
                                                    </thead>
                                                    @foreach (var item in Model.Notes[i].Absences)

                                                    {
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Record.Created))
                                                                </td>
                                                                <td>
                                                                    @item.Record.SerialNumber
                                                                </td>
                                                                <td>
                                                                    @item.Record.Subject.Code
                                                                </td>
                                                                <td>
                                                                    @if (item.LateArrival)
                                                                    {
                                                                        <div>Ano, @item.AbsenceInterval minut</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div>Ne</div>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    }
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div>Žádné nové omluvenky k zobrazení.</div>
                }
            </div>
        </div>
    </div>
</div>