@{
    Layout = "_Layout";
}

<div class=" kids container">
    <ul class="nav nav-pills">
        @foreach (var kid in ViewBag.Childrens)
        {
            @if (kid.Id == ViewBag.StudentId)
            {
                <li class="nav-item">
                    <a class="nav-link active" asp-area="Reports" asp-controller="Parent" asp-action="ShowHomeworks" asp-route-id="@kid.Id">@kid.FirstName</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Reports" asp-controller="Parent" asp-action="ShowHomeworks" asp-route-id="@kid.Id">@kid.FirstName</a>
                </li>
            }
        }
    </ul>
    <br />
    <h3>Domácí úkoly</h3>
    <br />

    <div role="main" class="pb-3">
        @RenderBody()
    </div>
</div>