@model Web.Areas.Admin.Models.ClassViewModel

@{
    ViewData["Title"] = "Přidat třídu";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="p-4 border-bottom bg-light">
                <h5>Přidat novou třídu</h5>
            </div>

            <div class="card-body">
                <form asp-action="AddClass">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>


                    <div class="form-group row">
                        @Html.LabelFor(model => model.ClassTeacher.ClassTeacherId, new { @class = "col-sm-2 col-form-label" })
                        <select class="form-control" asp-for="ClassTeacher.ClassTeacherId" asp-items="@(new SelectList(Model.ClassTeacher?.ClassTeachers, "Value", "Text"))">
                            <option disabled selected></option>
                        </select>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Students.StudentsId, new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-6">
                            @Html.ListBoxFor(model => model.Students.StudentsId, new MultiSelectList(Model.Students.Students, "Value", "Text"), new { @class = "form-control", multiple = "multiple", id = "StudentsDropdown" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Subjects.SubjectsId, new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-6">
                            @Html.ListBoxFor(model => model.Subjects.SubjectsId, new MultiSelectList(Model.Subjects.Subjects, "Value", "Text"), new { @class = "form-control", multiple = "multiple", id = "SubjectsDropdown" })
                        </div>
                    </div>

                    <div>
                        <div class="form-group d-inline float-right">
                            <input type="submit" value="Vytvořit třídu" class="btn btn-primary" />
                        </div>
                        <div class="d-inline">
                            <a asp-action="Index">Zpět</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

