@model Web.Areas.Attendance.Models.AbsenceListViewModel

@{
    ViewData["Title"] = "Absence";
    Layout = "~/Areas/Attendance/Views/Shared/Parent/_AbsenceLayout.cshtml";
}

<div class="absence container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" asp-area="Attendance" asp-controller="Parent" asp-action="ShowAbsences" asp-route-all="false" asp-route-id="@ViewBag.StudentId">Neomluvené (@ViewBag.NewAbsences)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Attendance" asp-controller="Parent" asp-action="ShowAbsences" asp-route-all="true" asp-route-id="@ViewBag.StudentId">Všechny</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="p-4 border-bottom bg-light">
                <h5>Seznam absencí</h5>
            </div>
            <div class="card-body">
                <form action="CreateAbsentNote" method="post">
                    @if (Model.Absences.Count > 0)
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            Datum
                                        </th>
                                        <th>
                                            Počet absencí
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @for (int i = 0; i < Model.Absences.Count; i++)
                                    {
                                        @Html.HiddenFor(x => Model.Absences[i])

                                        <tr class="accordion-toggle">

                                            <td>
                                                @if (!ViewBag.ShowAll)
                                                {
                                                    @Html.CheckBoxFor(x => Model.Absences[i].Selected)
                                                }
                                            </td>

                                            <td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Absences[i].Date))
                                                @Html.HiddenFor(x => Model.Absences[i].Date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => Model.Absences[i].MissedClasses)
                                            </td>

                                            <td>
                                                <button type="button" class="btn" data-toggle="collapse" data-target=".@String.Format("a" + @i)">Detail</button>
                                            </td>
                                        </tr>
                                        <tr class="accordian-body collapse @String.Format("a" + @i)">
                                            <td colspan="4" class="hiddenRow">
                                                <div>
                                                    <table class="table table-sm table-borderless">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Hodina
                                                                </th>
                                                                <th>
                                                                    Zameškaný předmět
                                                                </th>
                                                                <th>Pozdní přichod</th>
                                                            </tr>
                                                        </thead>
                                                        @for (int j = 0; j < Model.Absences[i].Absences.Count; j++)

                                                        {
                                                            @Html.HiddenFor(x => Model.Absences[i].Absences[j])
                                                            @Html.HiddenFor(x => Model.Absences[i].Absences[j].Id)

                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        @Model.Absences[i].Absences[j].Record.SerialNumber
                                                                    </td>
                                                                    <td>
                                                                        @Model.Absences[i].Absences[j].Record.Subject.Code
                                                                    </td>
                                                                    <td>
                                                                        @if (!Model.Absences[i].Absences[j].Present && Model.Absences[i].Absences[j].LateArrival)
                                                                        {
                                                                            <div>Ano, @Model.Absences[i].Absences[j].AbsenceInterval minut</div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div>Ne</div>
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            </tbody>

                                                        }
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        @if (!ViewBag.ShowAll)
                        {
                            <div>
                                <button type="submit" class="btn btn-primary float-right" asp-area="Attendance" asp-controller="Parent" asp-action="CreateAbsentNote" asp-route-studentId="@ViewBag.StudentId">Omluvit vybrané</button>
                            </div>
                        }
                    }
                    else
                    {
                        <div>Žádné absence k zobrazení.</div>
                    }

                </form>
            </div>
        </div>
    </div>
</div>

