@model Web.Areas.Reports.Models.HomeworkDetailViewModel

@{
    ViewData["Title"] = "Detail úkolu";
    Layout = "_StudentDetailLayout";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="p-4 border-bottom bg-light">
                <h5>Detail úkolu</h5>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="homework.Title" class="control-label">Název</label>
                        <label asp-for="homework.Title" class="form-control">@Model.homework.Title</label>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="homework.Deadline" class="control-label">Vypracovat do</label>
                        <input disabled="disabled" type="date" value="@Model.homework.Deadline.ToString("yyyy-MM-dd")" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="homework.Record.Subject.Code" class="control-label">Předmět</label>
                        <label class="form-control">@Model.homework.Record.Subject.Code</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label asp-for="homework.Text" class="control-label">Zadání</label>
                        <textarea disabled="disabled" asp-for="homework.Text" class="form-control" rows="10">@Model.homework.Text</textarea>
                    </div>
                </div>
                <div>
                    <a asp-action="ShowHomeworks" asp-route-studentId="@ViewBag.StudentId">Zpět</a>
                </div>
            </div>
        </div>
    </div>
</div>
