@model Web.Areas.Reports.Models.SchoolHomeNoteListViewModel

@{
    ViewData["Title"] = "Poznámky";
    Layout = "_StudentDetailLayout";
}


<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="p-4 border-bottom bg-light">
                <h5>Poznámky</h5>
            </div>

            <div class="card-body">
                @if (Model.Notes.Count > 0)
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Datum
                                    </th>
                                    <th>
                                        Od
                                    </th>
                                    <th>
                                        Poznámka
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Notes)
                                {
                                    @Html.HiddenFor(modelItem => item.Id)
                                    <tr>
                                        <td>
                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Created))
                                        </td>
                                        <td>
                                            <label>@item.CreatedBy.LastName @item.CreatedBy.FirstName @item.CreatedBy.Email</label>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Note)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    var prevDisabled = !Model.Notes.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.Notes.HasNextPage ? "disabled" : "";


                    <a asp-action="ShowHomeSchoolNotes"
                       asp-route-pageNumber="@(Model.Notes.PageIndex - 1)"
                       class="btn btn-default @prevDisabled">
                        Předchozí
                    </a>
                    <a asp-action="ShowHomeSchoolNotes"
                       asp-route-pageNumber="@(Model.Notes.PageIndex + 1)"
                       class="btn btn-default @nextDisabled">
                        Další
                    </a>
                }
                else
                {
                    <div>Žádné poznámky k zobrazení.</div>
                }
            </div>
        </div>
    </div>
</div>


